.main__item__container {
    display: flex;
    justify-content: space-between;
    width: 941px;
    height: 78px;
    flex-grow: 0;
    margin: 35px 0 12px;
    padding: 16px 94px 17px 34px;
    border-radius: 10px;
    background-color: #fff;
  }

  .main_item {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
 
    align-content: center;
    gap: 7px;
    padding: 0;
  }

  .item__header{
      font-family: Raleway;
      font-size: 16px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #949494;
  }

  